.body {
    background-color: ghostwhite;
}

.header {
    background-color: black;
    color: aliceblue;
    overflow: hidden;
    padding: 15px;
    border: solid grey;
}

.logo {
    background-color: aliceblue;
    float: left;
    padding: 17px;
}

.search {
    float: left;
    padding: 17px;
}

.text {
    float: right;
    margin: 0px;
    border: 2px solid white;
    border-radius: 100%;
}

.text:hover {
    border-color: blue;
}

.nav {
    background-color: rgb(22, 0, 0);
    color: aliceblue;
    padding: 15px;
    overflow: hidden;
    border-radius: 5%;
}

.link {
    background-color: bisque;
    border: 2px solid grey;
    padding: 5px;
    display: inline-block;
    border-radius: 10%;
}

.link:hover {
    background-color: lightblue;
}

.main {
    padding: 15px;
    overflow: hidden;
}

.row-1 {
    width: 100%;
    padding: 10px;
    background-color: coral;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
}

.row-2 {
    padding: 5px;
    overflow: hidden;
    display: inline-block;
}
.pick:hover .up{
display: block;
}
.up{
    display: none;
    position: absolute;
}
.para {
    font-family: Arial, Helvetica, sans-serif;
}

.price {
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pop {
    display: none;
    position: absolute;
    background-color: rgb(234, 255, 250);
    padding: 20px;
    border-radius: 20%;
}

.price:hover .pop {
    display: block;
}

.img {
    width: 100px;
    border-radius: 20%;
}

.col {
    background-color: blanchedalmond;
    float: left;
    border: 1px solid rgb(145, 143, 143);
    padding: 10px;
    box-sizing: border-box;
    width: 33.3%;
    margin: 0px;
    border-style: dotted;
    border-radius: 10px;
   
}

.row-2 .col-1 {
    background-color: rgb(255, 193, 172);
    width: 20%;
    font-size: large;
}

.row-2 .col-2 {
    width: 80%;
    border: 0px;

}

.chng {
    background-color: rgb(212, 212, 212);
}

.footer {
    background-color: rgb(196, 171, 171);
    padding: 15px;
    text-align: center;
}