.body {
    margin: 0;
}

.food {
    overflow: hidden;
    margin-bottom: 20px;
}

.col {
    float: left;
    width: 10%;
}

.pic {
    float: left;
    width: 50%;
}

.text {
    float: right;
    width: 50%;
    margin-top: 10px;
    color: #969696;
    font-size: smaller;
}

.main-block {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.column-1 {
    float: left;
    width: 70%;
    overflow: hidden;
}

.row-1 {
    text-align: center;
    overflow: hidden;
}
.date{
    color: #9e9e9e
        font-weight: bold;
}
.left {
    float: left;
    width: 30%;
}

.right {
    float: right;
    width: 69%;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
}
.imges{
    width: 100%;
}

.row-2 {
    text-align: center;
    overflow: hidden;
}

.column-2 {
    float: right;
    width: 30%;
}

.row1 {
    width: 100%;
}

.recipe {
    padding: 15px 0 15px 10px;
    background-color: #f2f2f2;
    margin: 2px 0;
}
.pointer{
    padding: 0px 7px;
    border-radius: 100%;
    background-color: blueviolet;
    margin-right: 5px;
    font-weight: bold;
    color: white;
}
.row2{
    width: 100%;
    margin-top: 15px;
}
.col-lef{
    float: left;
    width: 80%;
}
.col-rig{
    float: right;
    width: 20%;
}