.body {
    margin: 0;
}

.header {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

.top-header {
    background-color: #F2F2F2;
    padding: 10px;
    overflow: hidden;
}

.top-in_header {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    color: grey;
}

.site {
    float: left;
    width: 20%;
}

.img-g {
    float: left;
    margin-top: 2px;
    margin-right: 3px;
}

.img-p {
    float: left;
    margin-right: 3px;
}

.top-nav {
    float: right;
    width: 80%;
    text-align: right;
}

.top-nav_list {
    padding: 0px;
    margin: 0px;
}

.top-nav_link {
    display: inline-block;
    padding: 0px 0px 0px 25px;
}

.top_link-text {
    text-decoration: none;
    color: grey;
}

.bottom-header {
    background-color: white;
    padding: 10px;
    overflow: hidden;
}

.botton-in_header {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

.logo {
    float: left;
    width: 20%;
}

.bottom-nav {
    float: right;
    width: 80%;
    text-align: right;
    margin-top: 10px;
}

.bottom-nav_list {
    padding: 0px;
    margin: 0px;
}

.bottom-nav_link {
    display: inline-block;
    padding: 0px 6px;
}

.img-1 {
    width: 30px;
    float: right;
    margin: -5px
}

.bottom_link-text {
    text-decoration: none;
    font-weight: 500;
    color: #00095B;
}

.message {
    color: white;
    background-color: #DA7029;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: inset black 0 1px 10px -2px;
}

.i {
    background-color: white;
    color: #DA7029;
    padding: 2px 10px;
    border-radius: 100%;
    margin-right: 15px;
}

.close {
    float: right;
}

@media screen and (max-width:1024px) {

    .message {
        font-size: 12px;
    }

    .header {
        font-size: 11px;
    }

    .img-g,
    .img,
    .img-p {
        width: 15px;
    }

    .logo {
        width: 100%;
        text-align: center;
    }

    .bottom-nav {
        width: 100%;
        text-align: left;
    }

}

@media screen and (max-width: 767px) {
    .top-nav {
        display: none;
    }

    .header {
        font-size: small;
    }

    .site {
        width: 100%;
    }

    .logo {
        width: 100%;
        text-align: center;
    }

    .img-g {
        margin-top: 4px;
    }

    .bottom-nav_link {
        display: block;
        padding: 2px 0px;
        border-bottom: 1px solid #00095B;
    }

    .bottom-nav {
        float: left;
        text-align: left;
        width: 100%;
        position: relative;
    }

    .img-1 {
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .borderno {
        border: none;
    }

    .message {
        font-size: small;
    }
}

.main {
    margin-top: 0px;
}

.main-in {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
}

.left-container {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.main-row-1 {
    padding: 10px;
    margin-bottom: 10px;
    color: #00095B;
    font-size: larger;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-list {
    padding: 0%;
}

.main-row-1-link {
    display: inline-block;
    padding: 15px;
}

.main-row-1-link:hover {
    text-decoration: underline;
}

.main-row-1-linktext {
    text-decoration: none;
    text-transform: uppercase;
}

.main-row-2 {
    padding: 10px 0px;
    margin: 10px 0px;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-row-2-col2 {
    margin-right: 25px;
    box-shadow: grey 7px 9px 20px -12px;
}

.row-2-padding {
    padding: 0 0 0 20px;
}

.main-row-2-col1 {
    width: 30%;
}

.highlight-post {
    width: 100%;
}

.notification {
    font-family: monospace;
    font-size: medium;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 13px;
}

.row-2-heading {
    color: #00095B;
    font-size: larger;
    font-weight: 600;
}

.moreview {
    font-weight: 500;
    color: #00095B;
}

.review {
    padding-bottom: 20px;
}

.right-arrow {
    transform: rotate(270deg);
    border-radius: 15px;
}

.view-arrow {
    border-radius: 20px;
    padding: 0px 4px;
    background-color: #00095B;
}

.main-row-3 {
    font-family: system-ui;
    color: white;
}

.row-3-heading {
    color: #00095B;
}

.announce-section {
    display: flex;
    flex-direction: row;
}

.announcement {
    margin-right: 10px;
    width: 50%;
    display: flex;
    flex-direction: row;
    background-color: #00095B;
}

.picture {
    width: 30%;
}

.notice {
    width: 70%;
    padding: 10px;
}

.nxt-button {
    text-align: center;
    margin: 20px 0;
    color: grey;
}

.pages {
    padding: 0 10px;
}

.left-arrow-button {
    transform: rotate(90deg);
}

.right-arrow-button {
    transform: rotate(270deg);
}

.main-row-4 {
    border-radius: 5px;
    box-shadow: grey 7px 9px 20px -12px;
    position: relative;
}

.vid-info {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.player {
    position: absolute;
    bottom: 20px;
    right: 0px;
}

.vid-status {
    color: gray;
}

.options {
    padding-left: 170px;
}

.row-4-heading {
    font-size: x-large;
    color: #00095B;
}

.heading {
    float: left;
    width: 20%;
    font-size: xx-large;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #00095B;
}

.country-log {
    float: right;
    width: 25%;
    border: 1px solid black;
    padding: 10px;
    font-family: monospace;
}

.main-row-5 {
    background-image: url(./main-images/backgrou.jpg);
    padding: 15px 0;
    margin: 10px 0;
}

.row-5-col {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding-left: 15px;
    color: aliceblue;
}

.row-5-heading {
    font-family: monospace;
    font-size: medium;
}

.text-deco {
    text-decoration: none;
    color: #00095B;
}

.bronco {
    font-family: system-ui;
    font-size: larger;
}

.row-5-col2 {
    float: right;
    width: 50%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.learnmore {
    margin: 5px 300px 5px 20px;
    padding: 5px 0 5px 2px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
}

.vid-info {
    padding: 10px 0 10px 15px;
}
.vidsize {
    width: 100%;
    margin: 10px 0
}

.response {
    padding-left: 15px;
}

.main-row-2-col2 {
    width: 70%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.col2-row2-list {
    padding: 0;
}

.col2-row2-link {
    padding: 0 35px 0 0;
    display: inline-block;
}

.post-icon {
    width: 25px;
    vertical-align: middle;
}

.main-row-6 {
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: grey 7px 9px 20px -12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.allnews{
    padding: 10px;
    font-weight: 600;
}
.row-6-head {
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #00095B;
}

.news {
    font-size: xx-large;
    font-weight: 600;
}

.tail-img {
    float: left;
    width: 30%;
}

.tail-2 {
    float: right;
    width: 65%;
    color: #00095B;
}

.description {
    margin-bottom: 40px;
}

.raptor {
    font-size: x-large;
    font-weight: 500;
}

.main-row-7 {
    margin: 15px 0px;
    display: flex;
    flex-direction: row;
}

.row-7-col {
    margin-right: 20px;
    width: 33%;
    box-shadow: grey 5px 5px 20px -7px;
    border-radius: 5px;
}

.data,
.feedback {
    padding-left: 15px;
    font-family: system-ui;
    color: #00095B;
    font-weight: 500;
}

.data {
    margin-bottom: 25px;
}

.dates {
    font-family: monospace;
    color: gray;
    font-size: larger;
}

.news-icon {
    width: 20px;
    vertical-align: middle;
}

.main-row-8 {
    margin: 15px 0;
}

.sub-block {
    display: flex;
}

.block-img {
    float: left;
    width: 25%;
}

.block-text {
    float: right;
    width: 75%;
    padding-left: 20px;
    color: black;
    border-bottom: 2px solid grey;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.trending {
    margin: 20px 0;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #00095B;
    font-weight: bold;
}

.at {
    background-color: #00095B;
    font-size: 30px;
    padding: 0px 5px;
    border-radius: 10px;
    color: white;
}

.block-text-1 {
    font-size: smaller;
    font-weight: bold;
}

.block-text-2 {
    font-family: monospace;
    margin-top: 15px;
}

.right-container {
    padding: 10px 0px 10px 10px;
    ;
    background-color: #f2f2f2;
    width: 25%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.right-in {
    display: flex;
    flex-direction: column;
}

.right-items {
    margin: 10px 10px;
    border-bottom: 1px solid grey;
}

.item-head,
.highlit {
    color: #00095B;
}

.borderno {
    border: none;
}

.highlit {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.widget {
    font-size: x-large;
}

.link-img {
    width: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.count {
    font-family: monospace;
    margin-left: 30px;
    margin-bottom: 15px;
}

.item-para {
    margin-bottom: 10px;
}

.end-item {
    background-color: #00095B;
    color: white;
    text-align: center;
    padding: 10px;
    width: 70%;
    margin: auto;
}

.customise .custom {
    padding: 0 5px 2px 5px;
    border-radius: 50px;
    background-color: white;
    color: #00095B;
    margin-top: 20px;
}

.footer {
    margin-top: 0px;
}

.top-footer {
    padding: 35px;
    background-color: #F2F2F2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow: hidden;
}

.top-in-foot {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

.col {
    float: left;
    width: 25%;
    text-align: left;
}

.col-list {
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.foot-nav-link {
    display: block;
    padding: 5px 0;
}

.head {
    color: #00095B;
    font-size: larger;
    font-weight: 600;
}

.blank {
    margin-top: 28px;
}


.mail {
    margin-top: 15px;
    color: #00095B;
}

.social {
    margin-top: 10px;
}

.span {
    padding: 5px;
}

.chat {
    margin-top: 10px;
}

.nav-text {
    text-decoration: none;
}

.bottom-footer {
    padding: 0px;
    background-color: #00095B;
    color: white;
    overflow: hidden;
}

.bottom-in-foot {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

.bot-col-1 {
    float: left;
    width: 85%;
}

.row-1 {
    width: 100%;
    padding: 15px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bot-list {
    margin: 0;
    padding: 0%;
}

.bot-link {
    display: inline-block;
    padding-right: 20px;
}

.bot-text {
    text-decoration: none;
    color: white;
}

.row-2 {
    width: 100%;
    padding: 0 0 15px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: smaller;
}

.bot-col-2 {
    float: right;
    width: 15%;
    text-align: right;
}

.upclose {
    width: 50px;
    margin-top: 20px;
}