.body {
  margin: 0%; }

.header {
  background-color: #212529;
  border: 1px solid red; }

.in-header {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid red;
  background-color: #212529 !important; }

.nav-bgcolor {
  background-color: black !important; }

.logo {
  color: white !important; }

.nav-text {
  color: grey !important; }

.in-main {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid red; }

.business-name {
  padding: 40px 0px; }

.img-size {
  width: 900px;
  height: 400px;
  border-radius: 5px; }

.business-heading {
  font-size: 39px; }

.business-card {
  padding: 52px 0 52px 15px !important; }

.alert-bar {
  padding: 40px 0px !important;
  text-align: center;
  background-color: #6c757d !important;
  color: white !important; }

.card-title-size {
  font-size: 35px !important; }

.cards {
  padding-bottom: 50px; }

.footer {
  color: white;
  background-color: #212529;
  text-align: center;
  padding: 40px 0; }
